body {
    background-color: #fff;
    margin: 0;
    font-family: sans-serif;
}

header {
    width: 100%;
    background-color: lightgray;
    padding: 100px;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
}

header h1 {
    font-size: 2rem;
}

main {
    box-sizing: border-box;
    margin: 1px;
    display: block;
}


.top-header { 
     
    background-image: url(ressurser/background.png); 
    background-size: cover; 
    background-position: center; 
    position: relative;
} 
 
.top-header > h1 { 
    color: white; 
    background-color: rgba(0,0,0,0.3); 
    padding: 2em 1em; 
    font-family: sans-serif;
    margin: 0; 
} 

.center-text {
    text-align: center;
    
}

h1 {
    font-weight: bold;
    margin: 0;
}

hr {
    color:#e6bd43;
    margin: 2em 0;
}

#artikkel-border {
    box-sizing: border-box;
    width: 100%; 
    background-color:#e6bd43;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
}

#artikkel-border form {
    margin-top: 20px;
}

#artikkel-border img {
    display: block;
    float: left;
    margin-right: auto;
    padding: 100px;
}

.produkt-artikkel {
    max-width: 350px;
    min-width: 200px;
}

#client-style {
    margin: 0;
    width: 100%;
    padding: 100px;
    display: block;
    background-color: #e6bd43;
    box-sizing: border-box;
    overflow: hidden;
}

nav img {
    float: left;
}

ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    display: inline-block
    
}
  
li a {
    display: block;
    color:#000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
}

.topnav {
    overflow: hidden;
}
  
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.topnav a:hover {
    border-bottom: 3px solid #e6bd43;
}
  
.topnav a#active1 {
    border-bottom: 3px solid #e6bd43;
}
  
li a#active2 {
    background-color: #e6bd43;
    
}
  
li a#active2:hover {
    color: #e6bd43;
    background-color: #252525;
}

.container {
    position: relative;
}
  
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: lightgray;
    color: #000;
    padding-left: 20px;
    padding-right: 20px;
}


.float-container {
    width: 100%;
    overflow: hidden;
}

.float-element {
    float: left;
    width: 25%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    font-weight: bold;
    background-color: #e6bd43;
}

button:hover {
    color: #e6bd43;
    background-color: #252525;
}

.button-styling {
    color: #000;
    border: 3px solid #000; 
}

.button-styling2 {
    background-color: #fff;
}

iframe {
    width: 100%;
    height: 200; 
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    
}

#contact-us {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    padding: 100px;
    box-sizing: border-box;
    text-align: left;
}



form, #contact-info {
    flex: 1;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

textarea {
    resize: none;
    height: 80px; 
}

#textbox1 {
    background-color: lightgray;
}

#email-signup {
    width: 10%
}


footer {
    background-color: #252525;
     
}





/*Gull-gul kode: #e6bd43

Gråsvart: #252525

Svart: #000

Hvit: #fff


    Det skal kun være et stilark, med mindre man også bruker normalize eller har font awsome filene.
    Du skal skrive CSS for å oppnå resultatet på skissene, i E-D kravet trenger man ikke bruke CSS grid eller Flexbox.
    Du skal bruke en websafe font
    Alle artikkelkortene på porfoliosiden skal ha en maks bredde på 350px og en min bredde på 200px
*/